<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/mindyonrails">Mindy Chen</a>. A regular type gal that is full of useful life hacks.
  </p>
  <br />
  <p>
    In addition to overcoming the mysteries of life, Mindy is also very good at loitering and petting dogs.  If Mindy can build this webpage, then so you can you.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mindy Chen</h2>
      <br />
      <p>
        Insightful paragraph about Mindy overcoming hardships blah blah blah.  
      </p>
    </div>
  </div>

  </div>
<br class="clear" />
<br />
<br />
<br />
<br />
</div>